<div id="wrapper">
	</br><a href="/sign-out">
		<button type="button" name="" value="" class="css3button">Logout</button>
	</a>
	<center><div id="header">All You Need is Popcorn</div></center>
	<a href="/movies"><div id="popcorn"></div></a>
	<a href="/movies"><div id="popcorn3"></div></a>
</div>
<div id="lside">
	<center>
	</br>
		Recently Liked Reviews:
			<% if @mlikes != [] %>
				<%i=0
				@mlikes.reverse.each do|n|
					if i<2%>
						<h4><%@movie = Movie.find(n.movie_id)%>
							<a href="/movie/<%=@movie.id%>">
								<%=@movie.title%>
							</a>
						</h4>
						</a>
						<div id="User_id">
							<a href="/user/<%=User.find(@movie.user_id).id%>">
								<h5>By <%=User.find(@movie.user_id).username%></h5>
							</a>
						</div>
						<%i=i+1%>
					<%end%>
				<%end%>
			<%else%>
				<h4>None</h4>
			<%end%>

		Recently Liked Posts:
	<% if @plikes != [] %>
		<%i=0
		@plikes.reverse.each do |n|
			if i<2%>
				<div id="post"><h4><%=Post.find(n.post_id).data%></h4></div>
				<div id="User_id">
					<a href="/user/<%=User.find(Post.find(n.post_id).user_id).id%>">
						<h5>By <%=Post.find(n.post_id).author%></h5>
					</a>
			<%end%>
		<%end%>
		<%else%>
			<h4>None</h4>
		<%end%>
	</center>
</div>
<div id="rside"><center><div id="user"></br>Current User:</div></center><p><center><%=@current_user.username%>
</br>
	<%=@profile.email%></center></p>
	<center><a href="/user/<%=User.find(session[:user_id]).id%>">My Profile</a>
	</div></center></div>
	<center><div id="user"></br>Current User:</div></center><p><center><%=@current_user.username%>
</br>
	<%=@profile.email%></center></p>
<center><div id="add_movie">
</br>
<form method="POST" action="/add-movie-process" enctype="multipart/form-data">
	<label for="movie_title" style="color:red;">Movie Title</label>
	<input type="text" required name="movie_title">
</br>
</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label for="movie_pic" required style="color:red;">Cover</label>
	<input type="file" required name="movie_pic">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review</div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea maxlength="150" rows="4" cols="50" required name="review" value="Review"></textarea>
</br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rating
	<input type="radio" name="stars" value="1">1
	&nbsp;
	<input type="radio" name="stars" value="2">2
	&nbsp;
	<input type="radio" name="stars" value="3">3
	&nbsp;
	<input type="radio" name="stars" value="4">4
	&nbsp;
	<input type="radio" name="stars" value="5">5
	&nbsp;
	<input type="submit" name="submit" value="submit">

</form>
<div id="popcorn2"></div>